// Light
@font-face {
    font-family: 'Toboggan';
    src: url(../../assets/fonts/Toboggan-Light.otf) format('otf');
    font-weight: 300;
    font-style: normal;
}

// Medium Italic
@font-face {
    font-family: 'Toboggan';
    src: url(../../assets/fonts/Toboggan-MediumItalic.otf) format('otf');
    font-weight: normal;
    font-style: normal;
}