// Colors
$body-bg:#202632;
$green-color:#52FEAC;
$card-color:#313A49;
$text-color:#9BACB4;

// variables for breakpoints
$mobile-breakpoint: 760px;
$tablet-breakpointmax: 1000px;
$tablet-breakpointmin: 761px;
$desktop-breakpoint: 1280px;

// mixins for each breakpoint in the responsive design
@mixin mobile {
    @media screen and (max-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: $tablet-breakpointmax) and (min-width: $tablet-breakpointmin){
        @content;
    }
}

@mixin desktop {
    @media screen and (max-width: $desktop-breakpoint){
        @content;
    }
}